<div id="chp-nav">
  <span>
    <%=link_to('上一章(a)', read_path(novel_id: @novel.id, chapter_number: @neighbors[:prev]),
      id: :prev_chp, onclick: "pageChangeHandler(#{@novel.id}, #{@neighbors[:prev]})")%>
  </span> |
  <span>
    <%=@novel.name%> (<%=@neighbors[:curr]%>/<%=@novel.max_chapter_number%>)
  </span> |
  <span>
    <%=link_to('下一章(d)', read_path(novel_id: @novel.id, chapter_number: @neighbors[:next]),
      id: :next_chp, onclick: "pageChangeHandler(#{@novel.id}, #{@neighbors[:next]})")%>
  </span>
</div>
