<div id="operation">
  <h2>收藏</h2>
  <table class="table table-striped table-hover table-border">
    <% @collections.each do |collection| %>
    <% next if collection.novel.nil? %>
      <tr>
        <td>
          <%=link_to("X", collection_path(id: collection.id), method: :delete, class: 'delete') %>
        </td>
        <td>
          [<%= collection.novel.catgory%>]
        </td>
        <td>
          <%=link_to("#{collection.novel.author} - #{collection.novel.name}", read_path(novel_id: collection.novel.id), class: 'read') %>
        </td>
        <td>
          (<%= collection.last_read_chapter_number%>/<%= collection.novel.max_chapter_number%>)
        </td>
      </tr>
    <% end %>
  </table>
</div>
