<div>正在閱讀... [<%=@novel.catgory%>] <%=@novel.author%> - <%=@novel.name%> (<%=@curr_chp_idx+1%>/<%=@novel.chapters.count%>)</div>
<%= render "common/chp_nav" %>
<div>
  <%= simple_format(@chapter.content)%>
</div>
<%= render "common/chp_nav" %>