<table class="table table-striped table-hover table-border">
  <thead>
    <tr>
      <th>目錄</th>
      <th class="colleciton-actions">
        <%=link_to('添加', new_novel_path)%> |
        <%=link_to('查詢', search_path)%>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @novels.each do |novel| %>
    <tr>
      <td>[<%= novel.catgory%>] <%= novel.author%> - <%= novel.name%> (<%= novel.max_chapter_index%>)</td>
      <td class="colleciton-actions">
      <% if novel.chapter_index.empty? %>
        <%= button_tag '正在處理', class: 'btn btn-danger' %>
      <% elsif novel.in_collection?(current_user) %>
        <%= button_tag '已經收藏', class: 'btn btn-warning' %>
      <% else %>
        <%= form_tag collections_path do %>
          <%= hidden_field_tag :novel_id, novel.id %>
          <%= submit_tag '加入收藏', class: 'btn btn-success' %>
        <% end %>
      <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @novels %>
