<table class="table table-striped table-hover table-border">
  <tr>
    <th>目錄</th>
    <th class="colleciton-actions">
      <%=link_to('添加', new_novel_path)%> |
      <%=link_to('查詢', search_path)%>
    </th>
  </tr>
<% @novels.each do |novel| %>
  <tr>
    <td>[<%= novel.catgory%>] <%= novel.author%> - <%= novel.name%> (<%= novel.max_chapter_index%>)</td>
    <td class="colleciton-actions">
      <%= form_tag collections_path do %>
        <%= hidden_field_tag :novel_id, novel.id %>
        <%= submit_tag '加入收藏', class: 'btn btn-primary' %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
<%= paginate @novels %>
