<div id="operation">
<table>
  <tr>
    <th>目錄</th>
    <th class="colleciton-actions"><%=link_to('添加書籍', new_novel_path)%></th>
  </tr>
<% @novels.each do |novel| %>
  <tr>
    <td>[<%= novel.catgory%>] <%= novel.author%> - <%= novel.name%> (<%= novel.chapters.count%>)</td>
    <td class="colleciton-actions">
      <a href="<%=add_to_collection_path(novel_id: novel.id)%>">加入收藏</a>
    </td>
  </tr>
<% end %>
</table>
</div>