<div id="operation">
  <%= form_tag novels_path do %>
    <%= label_tag :source_host, '來源' %>
    <%= select_tag :source_host_id, options_from_collection_for_select(@source_hosts, "id", "name") %>
    <br>
    <%= label_tag :source_url, '網址' %>
    <%= text_field_tag :source_url, '', required: true, placeholder: 'https://ck101.com/thread-100-1-1.html', size: 42 %>
    
    <%= submit_tag '添加' %>
  <% end %>
</div>