<div id="operation">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-inline box' } ) do |f| %>
    <%= f.email_field :email, autofocus: true, placeholder: 'email', class: 'form-control-lg mb-2 mr-sm-2 mb-sm-0' %>
    <%= f.password_field :password, autocomplete: 'off', placeholder: 'password', class: 'form-control-lg mb-2 mr-sm-2 mb-sm-0' %>
    <%= f.submit '進入', class: 'btn btn-default' %>
  <% end %>
  <ul>
    <legend>第三方登入</legend>
    <%= link_to 'facebook', user_facebook_omniauth_authorize_path %>
  </ul>
</div>
