<div id="chp-nav">
  <span>
    <%=link_to('上一章', read_path(novel_id: @novel.id, chp_idx: @chapter_indexes[:prev]), id: :prev_chp)%>
  </span> |
  <span>
    <%=@novel.name%> (<%=@chapter_indexes[:curr]%>/<%=@novel.max_chapter_index%>)
  </span> |
  <span>
    <%=link_to('下一章', read_path(novel_id: @novel.id, chp_idx: @chapter_indexes[:next]), id: :next_chp)%>
  </span>
</div>
