<div id="chp-nav">
  <a href="<%=read_path(novel_id: @novel.id, chp_idx: @prev_chp_idx)%>"><%=@prev_chp_idx+1%></a> |
  <strong><%=@curr_chp_idx+1%></strong> |
  <a href="<%=read_path(novel_id: @novel.id, chp_idx: @next_chp_idx)%>"><%=@next_chp_idx+1%></a>
</div>