<!DOCTYPE html>
<html>
  <head>
    <title>Catty Novel</title>
    <meta name="description" content="Simple tool for reading novels on ck101.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'common/flash' %>
    <div id="container">
      <%= render 'common/top' %>
      <%= yield %>
      <%= render 'common/bottom' %>
    </div>
  </body>
</html>
